template(name="pages_projects")
  .hbox.hbox-auto-xs
    .col
      .vbox
        .nav-tabs-alt.bg-light.lter
          ul.nav.nav-tabs
            li.dropdown.active
              a.dropdown-toggle(data-toggle="dropdown")
                | 案件一览
                span.caret
              ul.dropdown-menu(role="menu")
                li: a(href) Item 1
                li: a(href) Item 2
                li: a(href) Item 3
            li.dropdown.pull-right
              a.dropdown-toggle(data-toggle="dropdown")
                | 操作
                span.caret
              ul.dropdown-menu(role="menu")
                li: a(href) Item 1
                li: a(href) Item 2
                li: a(href) Item 3
        .row-row
          .cell.hover(ui-jq="slimScroll" ui-options="{height: '100%'; size: '6px'}")
            .cell-inner
              .wrapper
                | This is the projects content


