template(name="blocks_aside")
  .aside-wrap
    .navi-wrap
      #aside-user.clearfix.hidden-xs.text-center.hide
        .dropdown.wrapper
          a(ui-sref='app.page.profile')
            span.thumb-lg.w-auto-folded.avatar.m-t-sm
              img.img-full(src='img/a0.jpg', alt='...')
          a.dropdown-toggle.hidden-folded(href='')
            span.clear
              span.block.m-t-sm
                strong.font-bold.text-lt John.Smith
                b.caret
              span.text-muted.text-xs.block Art Director
          ul.dropdown-menu.animated.fadeInRight.w.hidden-folded
            li.wrapper.b-b.m-b-sm.bg-info.m-t-n-xs
              span.arrow.top.hidden-folded.arrow-info
              div
                p 300mb of 500mb used
              progressbar.progress-xs.m-b-none.dker(value='60', type='white')
            li
              a(href='') Settings
            li
              a(ui-sref='app.page.profile') Profile
            li
              a(href='')
                span.badge.bg-danger.pull-right 3
                | Notifications
            li.divider
            li
              a(ui-sref='access.signin') Logout
        .line.dk.hidden-folded
      nav.navi(ui-nav='', ng-include='"blocks_nav"')
      .wrapper.m-t
        .text-center-folded
          span.pull-right.pull-none-folded 60%
          span.hidden-folded(translate='aside.MILESTONE') Milestone
        progressbar.progress-xxs.m-t-sm.dk(value='60', type='info')
        .text-center-folded
          span.pull-right.pull-none-folded 35%
          span.hidden-folded(translate='aside.RELEASE') Release
        progressbar.progress-xxs.m-t-sm.dk(value='35', type='primary')
