template(name="blocks_header")
  .navbar-header
    button.pull-right.visible-xs.dk(ui-toggle-class='show', data-target='.navbar-collapse')
      i.glyphicon.glyphicon-cog
    button.pull-right.visible-xs(ui-toggle-class='off-screen', data-target='.app-aside', ui-scroll='app')
      i.glyphicon.glyphicon-align-justify
    a.navbar-brand.text-lt(href='#/')
      i.fa.fa-btc
      img.hide(src='img/logo.png', alt='.')
      span.hidden-folded.m-l-xs {{app.name}}
  .collapse.pos-rlt.navbar-collapse.box-shadow
    .nav.navbar-nav.hidden-xs
      a.btn.no-shadow.navbar-btn(href='', ng-click='app.settings.asideFolded = !app.settings.asideFolded')
        i.fa.fa-indent.fa-fw
      a.btn.no-shadow.navbar-btn(href='', ui-toggle-class='show', target='#aside-user')
        i.icon-user.fa-fw
    ul.nav.navbar-nav.hidden-sm
      li.dropdown.pos-stc
        a.dropdown-toggle(href='')
          span Mega
          span.caret
        .dropdown-menu.wrapper.w-full.bg-white
          .row
            .col-sm-4
              .m-l-xs.m-t-xs.m-b-xs.font-bold
                | Pages
                span.badge.badge-sm.bg-success 10
              .row
                .col-xs-6
                  ul.list-unstyled.l-h-2x
                    li
                      a(href='')
                        i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                        | Profile
                    li
                      a(href='')
                        i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                        | Post
                    li
                      a(href='')
                        i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                        | Search
                    li
                      a(href='')
                        i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                        | Invoice
                .col-xs-6
                  ul.list-unstyled.l-h-2x
                    li
                      a(href='')
                        i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                        | Price
                    li
                      a(href='')
                        i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                        | Lock screen
                    li
                      a(href='')
                        i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                        | Sign in
                    li
                      a(href='')
                        i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                        | Sign up
            .col-sm-4.b-l.b-light
              .m-l-xs.m-t-xs.m-b-xs.font-bold
                | UI Kits
                span.label.label-sm.bg-primary 12
              .row
                .col-xs-6
                  ul.list-unstyled.l-h-2x
                    li
                      a(href='')
                        i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                        | Buttons
                    li
                      a(href='')
                        i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                        | Icons
                        span.badge.badge-sm.bg-warning 1000+
                    li
                      a(href='')
                        i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                        | Grid
                    li
                      a(href='')
                        i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                        | Widgets
                .col-xs-6
                  ul.list-unstyled.l-h-2x
                    li
                      a(href='')
                        i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                        | Bootstap
                    li
                      a(href='')
                        i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                        | Sortable
                    li
                      a(href='')
                        i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                        | Portlet
                    li
                      a(href='')
                        i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                        | Timeline
            .col-sm-4.b-l.b-light
              .m-l-xs.m-t-xs.m-b-sm.font-bold Analysis
              .text-center
                .inline
                  div(ui-jq='easyPieChart', ui-options='{\
                  percent: 65,\
                  lineWidth: 50,\
                  trackColor: "{{app.color.light}}",\
                  barColor: "{{app.color.info}}",\
                  scaleColor: false,\
                  size: 100,\
                  rotate: 90,\
                  lineCap: "butt",\
                  animate: 2000\
                  }')
      li.dropdown
        a.dropdown-toggle(href='')
          i.fa.fa-fw.fa-plus.visible-xs-inline-block
          span(translate='header.navbar.new.NEW') New
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a(href='#', translate='header.navbar.new.PROJECT') Projects
          li
            a(href='')
              span.badge.bg-info.pull-right 5
              span(translate='header.navbar.new.TASK') Task
          li
            a(href='', translate='header.navbar.new.USER') User
          li.divider
          li
            a(href='')
              span.badge.bg-danger.pull-right 4
              span(translate='header.navbar.new.EMAIL') Email
    form.navbar-form.navbar-form-sm.navbar-left.shift(ui-shift='prependTo', target='.navbar-collapse', role='search', ng-controller='TypeaheadDemoCtrl')
      .form-group
        .input-group
          input.form-control.input-sm.bg-light.no-border.rounded.padder(type='text', ng-model='selected', typeahead='state for state in states | filter:$viewValue | limitTo:8', placeholder='Search projects...')
          span.input-group-btn
            button.btn.btn-sm.bg-light.rounded(type='submit')
              i.fa.fa-search
    ul.nav.navbar-nav.navbar-right
      li.dropdown.hidden-sm(is-open='lang.isopen')
        a.dropdown-toggle(href='', data-toggle='dropdown')
          | {{selectLang}}
          b.caret
        ul.dropdown-menu.animated.fadeInRight.w
          li(ng-repeat='(langKey, label) in langs')
            a(ng-click='setLang(langKey, $event)', href='') {{label}}
      li.hidden-xs
        a(ui-fullscreen='')
      li.dropdown
        a.dropdown-toggle(href='')
          i.icon-bell.fa-fw
          span.visible-xs-inline Notifications
          span.badge.badge-sm.up.bg-danger.pull-right-xs 2
        .dropdown-menu.w-xl.animated.fadeInUp
          .panel.bg-white
            .panel-heading.b-light.bg-light
              strong
                | You have
                span 2
                | notifications
            .list-group
              a.media.list-group-item(href='')
                span.pull-left.thumb-sm
                  img.img-circle(src='img/a0.jpg', alt='...')
                span.media-body.block.m-b-none
                  | Use awesome animate.css
                  br
                  small.text-muted 10 minutes ago
              a.media.list-group-item(href='')
                span.media-body.block.m-b-none
                  | 1.0 initial released
                  br
                  small.text-muted 1 hour ago
            .panel-footer.text-sm
              a.pull-right(href='')
                i.fa.fa-cog
              a(href='#notes', data-toggle='class:show animated fadeInRight') See all the notifications
      li.dropdown
        a.dropdown-toggle.clear(href='', data-toggle='dropdown')
          span.thumb-sm.avatar.pull-right.m-t-n-sm.m-b-n-sm.m-l-sm
            img(src='img/a0.jpg', alt='...')
            i.on.md.b-white.bottom
          span.hidden-sm.hidden-md John.Smith
          b.caret
        ul.dropdown-menu.animated.fadeInRight.w
          li.wrapper.b-b.m-b-sm.bg-light.m-t-n-xs
            div
              p 300mb of 500mb used
            progressbar.progress-xs.m-b-none.bg-white(value='60')
          li
            a(href='')
              span.badge.bg-danger.pull-right 30%
              span Settings
          li
            a(ui-sref='app.page.profile') Profile
          li
            a(ui-sref='app.docs')
              span.label.bg-info.pull-right new
              | Help
          li.divider
          li
            a(ui-sref='access.signin') Logout
