<template name="blocks_nav">
<!-- list -->
<ul class="nav">
  <li class="line dk"></li>
  <li ui-sref-active="active">
    <a ui-sref="app.projects">
      <b class="badge bg-info pull-right">9</b>
      <i class="icon-notebook text-info-lter"></i>
      <span class="font-bold">案件</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.employees">
      <i class="icon-users text-info-lter"></i>
      <span class="font-bold">要员</span>
    </a>
  </li>
  <li class="line dk"></li>
  <li ui-sref-active="active">
    <a ui-sref="app.kato">
      <i class="icon-layers text-info-dker"></i>
      <span class="font-bold">稼动情报</span>
    </a>
  </li>
</ul>
<!-- / list -->
</template>