template(name="blocks_nav")
  ul.nav
    li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs
      span(translate='aside.nav.HEADER') Navigation
    li
      a.auto(href='')
        span.pull-right.text-muted
          i.fa.fa-fw.fa-angle-right.text
          i.fa.fa-fw.fa-angle-down.text-active
        i.glyphicon.glyphicon-stats.icon.text-primary-dker
        span.font-bold(translate='aside.nav.DASHBOARD') Dashboard
      ul.nav.nav-sub.dk
        li.nav-sub-header
          a(href='')
            span(translate='aside.nav.DASHBOARD') Dashboard
        li(ui-sref-active='active')
          a(ui-sref='app.dashboard-v1')
            span Dashboard v1
        li(ui-sref-active='active')
          a(ui-sref='app.dashboard-v2')
            b.label.bg-info.pull-right N
            span Dashboard v2
    li(ui-sref-active='active')
      a(ui-sref='app.calendar')
        i.glyphicon.glyphicon-calendar.icon.text-info-dker
        span.font-bold(translate='aside.nav.CALENDAR') Calendar
    li(ui-sref-active='active')
      a(ui-sref='app.mail.list')
        b.badge.bg-info.pull-right 9
        i.glyphicon.glyphicon-envelope.icon.text-info-lter
        span.font-bold(translate='aside.nav.EMAIL') Email
    li
      a.auto(href='')
        span.pull-right.text-muted
          i.fa.fa-fw.fa-angle-right.text
          i.fa.fa-fw.fa-angle-down.text-active
        i.glyphicon.glyphicon-th-large.icon.text-success
        span.font-bold Apps
      ul.nav.nav-sub.dk
        li.nav-sub-header
          a(href='')
            span Apps
        li(ui-sref-active='active')
          a(ui-sref='apps.note')
            span Note
        li(ui-sref-active='active')
          a(ui-sref='apps.contact')
            span Contacts
        li(ui-sref-active='active')
          a(ui-sref='app.weather')
            span Weather
    li.line.dk
    li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs
      span(translate='aside.nav.components.COMPONENTS') Components
    li
      a.auto(href='')
        span.pull-right.text-muted
          i.fa.fa-fw.fa-angle-right.text
          i.fa.fa-fw.fa-angle-down.text-active
        b.badge.bg-info.pull-right 3
        i.glyphicon.glyphicon-th
        span Layout
      ul.nav.nav-sub.dk
        li.nav-sub-header
          a(href='')
            span Layout
        li(ui-sref-active='active')
          a(ui-sref='layout.app')
            span Application
        li(ui-sref-active='active')
          a(ui-sref='layout.fullwidth')
            span Full width
        li(ui-sref-active='active')
          a(ui-sref='layout.mobile')
            span Mobile
    li(ng-class='{active:$state.includes("app.ui")}')
      a.auto(href='')
        span.pull-right.text-muted
          i.fa.fa-fw.fa-angle-right.text
          i.fa.fa-fw.fa-angle-down.text-active
        i.glyphicon.glyphicon-briefcase.icon
        span(translate='aside.nav.components.ui_kits.UI_KITS') UI Kits
      ul.nav.nav-sub.dk
        li.nav-sub-header
          a(href='')
            span(translate='aside.nav.components.ui_kits.UI_KITS') UI Kits
        li(ui-sref-active='active')
          a(ui-sref='app.ui.buttons')
            span(translate='aside.nav.components.ui_kits.BUTTONS') Buttons
        li(ui-sref-active='active')
          a(ui-sref='app.ui.icons')
            b.badge.bg-info.pull-right 3
            span(translate='aside.nav.components.ui_kits.ICONS') Icons
        li(ui-sref-active='active')
          a(ui-sref='app.ui.grid')
            span(translate='aside.nav.components.ui_kits.GRID') Grid
        li(ui-sref-active='active')
          a(ui-sref='app.ui.widgets')
            b.badge.bg-success.pull-right 13
            span(translate='aside.nav.WIDGETS') Widgets
        li(ui-sref-active='active')
          a(ui-sref='app.ui.bootstrap')
            b.badge.bg-primary.pull-right 16
            span(translate='aside.nav.components.ui_kits.BOOTSTRAP') Bootstrap
        li(ui-sref-active='active')
          a(ui-sref='app.ui.sortable')
            span(translate='aside.nav.components.ui_kits.SORTABLE') Sortable
        li(ui-sref-active='active')
          a(ui-sref='app.ui.portlet')
            span(translate='aside.nav.components.ui_kits.PORTLET') Portlet
        li(ui-sref-active='active')
          a(ui-sref='app.ui.timeline')
            span(translate='aside.nav.components.ui_kits.TIMELINE') Timeline
        li(ui-sref-active='active')
          a(ui-sref='app.ui.tree')
            span Tree
        li(ui-sref-active='active')
          a(ui-sref='app.ui.toaster')
            span Toaster
        li(ui-sref-active='active')
          a(ui-sref='app.ui.jvectormap')
            span(translate='aside.nav.components.ui_kits.VECTOR_MAP') Vector Map
        li(ui-sref-active='active')
          a(ui-sref='app.ui.googlemap')
            span Google Map
    li(ng-class='{active:$state.includes("app.table")}')
      a.auto(href='')
        span.pull-right.text-muted
          i.fa.fa-fw.fa-angle-right.text
          i.fa.fa-fw.fa-angle-down.text-active
        b.label.bg-primary.pull-right 2
        i.glyphicon.glyphicon-list
        span(translate='aside.nav.components.table.TABLE') Table
      ul.nav.nav-sub.dk
        li.nav-sub-header
          a(href='')
            span(translate='aside.nav.components.table.TABLE') Table
        li(ui-sref-active='active')
          a(ui-sref='app.table.static')
            span(translate='aside.nav.components.table.TABLE_STATIC') Table static
        li(ui-sref-active='active')
          a(ui-sref='app.table.datatable')
            span(translate='aside.nav.components.table.DATATABLE') Datatable
        li(ui-sref-active='active')
          a(ui-sref='app.table.footable')
            span(translate='aside.nav.components.table.FOOTABLE') Footable
        li(ui-sref-active='active')
          a(ui-sref='app.table.grid')
            span ngGrid
    li(ng-class='{active:$state.includes("app.form")}')
      a.auto(href='')
        span.pull-right.text-muted
          i.fa.fa-fw.fa-angle-right.text
          i.fa.fa-fw.fa-angle-down.text-active
        i.glyphicon.glyphicon-edit
        span(translate='aside.nav.components.form.FORM') Form
      ul.nav.nav-sub.dk
        li.nav-sub-header
          a(href='')
            span(translate='aside.nav.components.form.FORM') Form
        li(ui-sref-active='active')
          a(ui-sref='app.form.elements')
            span(translate='aside.nav.components.form.FORM_ELEMENTS') Form elements
        li(ui-sref-active='active')
          a(ui-sref='app.form.validation')
            span(translate='aside.nav.components.form.FORM_VALIDATION') Form validation
        li(ui-sref-active='active')
          a(ui-sref='app.form.wizard')
            span(translate='aside.nav.components.form.FORM_WIZARD') Form wizard
        li(ui-sref-active='active')
          a(ui-sref='app.form.fileupload')
            span File upload
        li(ui-sref-active='active')
          a(ui-sref='app.form.imagecrop')
            span Image crop
    li(ui-sref-active='active')
      a(ui-sref='app.chart')
        i.glyphicon.glyphicon-signal
        span(translate='aside.nav.components.CHART') Chart
    li(ng-class='{active:$state.includes("app.page")}')
      a.auto(href='')
        span.pull-right.text-muted
          i.fa.fa-fw.fa-angle-right.text
          i.fa.fa-fw.fa-angle-down.text-active
        i.glyphicon.glyphicon-file.icon
        span(translate='aside.nav.components.pages.PAGES') Pages
      ul.nav.nav-sub.dk
        li.nav-sub-header
          a(href='')
            span(translate='aside.nav.components.pages.PAGES') Pages
        li(ui-sref-active='active')
          a(ui-sref='app.page.profile')
            span(translate='aside.nav.components.pages.PROFILE') Profile
        li(ui-sref-active='active')
          a(ui-sref='app.page.post')
            span(translate='aside.nav.components.pages.POST') Post
        li(ui-sref-active='active')
          a(ui-sref='app.page.search')
            span(translate='aside.nav.components.pages.SEARCH') Search
        li(ui-sref-active='active')
          a(ui-sref='app.page.invoice')
            span(translate='aside.nav.components.pages.INVOICE') Invoice
        li(ui-sref-active='active')
          a(ui-sref='app.page.price')
            span Price
        li
          a(ui-sref='lockme')
            span(translate='aside.nav.components.pages.LOCK_SCREEN') Lock screen
        li
          a(ui-sref='access.signin')
            span(translate='aside.nav.components.pages.SIGNIN') Signin
        li
          a(ui-sref='access.signup')
            span(translate='aside.nav.components.pages.SIGNUP') Signup
        li
          a(ui-sref='access.forgotpwd')
            span(translate='aside.nav.components.pages.FORGOT_PASSWORD') Forgot password
        li
          a(ui-sref='access.404')
            span(translate='aside.nav.components.pages.404') 404
    li.line.dk.hidden-folded
    li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs
      span(translate='aside.nav.your_stuff.YOUR_STUFF') Your Stuff
    li
      a(ui-sref='app.page.profile')
        i.icon-user.icon.text-success-lter
        b.badge.bg-success.pull-right 30%
        span(translate='aside.nav.your_stuff.PROFILE') Profile
    li
      a(ui-sref='app.docs')
        i.icon-question.icon
        span(translate='aside.nav.your_stuff.DOCUMENTS') Documents
