template(name="pages_employees")
  .wrapper
    .panel.panel-default
      .table-responsive
        div(ng-controller="GridController")
          table.table(st-table="personCollection" st-safe-src="rowCollection")
            thead
              tr
                th(st-sort='_id') 工号
                th(st-sort='name') 姓名
                th(st-sort='groupId') 职级
                th 所属组
                th 所在项目
            tbody
              tr(ng-repeat="person in personCollection")
                td: a(ui-sref="app.employees.single" ng-bind="person._id")
                td(ng-bind="person.name")
                td(ng-bind="person.groupId")
                td
                td
            tfoot
              tr
                td.text-center(colspan="3")
                  div(st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7")