template(name="app")
  .app-header.navbar(data-ng-include=' "blocks_header" ')
  .app-aside.hidden-xs.bg-dark(data-ng-include=' "blocks_aside" ')
  .app-content
    div(ui-butterbar='')
    a.off-screen-toggle.hide(href='', ui-toggle-class='off-screen', data-target='.app-aside')
    .app-content-body.app-content-full.fade-in-up(data-ng-include=" 'blocks_content' ")
      
  //.app-aside-right.pos-fix.no-padder.w-md.w-auto-xs.bg-white.b-l.animated.fadeInRight.hide
    .vbox
      .wrapper.b-b.b-t.b-light.m-b
        a.pull-right.text-muted.text-md(href='', ui-toggle-class='show', target='.app-aside-right')
          i.icon-close
        | Chat
      .row-row
        .cell
          .cell-inner.padder
            .m-b
              a.pull-left.thumb-xs.avatar(href='')
                img(src='img/a2.jpg', alt='...')
              .clear
                .pos-rlt.wrapper-sm.b.b-light.r.m-l-sm
                  span.arrow.left.pull-up
                  p.m-b-none Hi John, What's up...
                small.text-muted.m-l-sm
                  i.fa.fa-ok.text-success
                  | 2 minutes ago
            .m-b
              a.pull-right.thumb-xs.avatar(href='')
                img.img-circle(src='img/a3.jpg', alt='...')
              .clear
                .pos-rlt.wrapper-sm.bg-light.r.m-r-sm
                  span.arrow.right.pull-up.arrow-light
                  p.m-b-none Lorem ipsum dolor :)
                small.text-muted 1 minutes ago
            .m-b
              a.pull-left.thumb-xs.avatar(href='')
                img(src='img/a2.jpg', alt='...')
              .clear
                .pos-rlt.wrapper-sm.b.b-light.r.m-l-sm
                  span.arrow.left.pull-up
                  p.m-b-none Great!
                small.text-muted.m-l-sm
                  i.fa.fa-ok.text-success
                  | Just Now
      .wrapper.m-t.b-t.b-light
        form.m-b-none
          .input-group
            input.form-control(type='text', placeholder='Say something')
            span.input-group-btn
              button.btn.btn-default(type='button') SEND
  //.app-footer.navbar.navbar-fixed-bottom.bg-light.lt.b-t 
      ul.nav.nav-pills.nav-md.pull-left
        li: a(href='') Link
        li.dropdown
          a.dropdown-toggle(href='')
            | Dropup
            span.caret
          ul.dropdown-menu(role='menu')
            li: a(href='') Action
            li: a(href='') Another action
            li: a(href='') Something else here
            li.divider
            li: a(href='') Separated link
            li.divider
            li: a(href='') One more separated link
      ul.nav.nav-pills.nav-md.pull-right
        li: a(href='') Link
        li.dropdown
          a.dropdown-toggle(href='', data-toggle='dropdown')
            | Dropup
            span.caret
          ul.dropdown-menu.pull-right(role='menu')
            li: a(href='') Action
            li: a(href='') Another action
            li: a(href='') Something else here
            li.divider
            li: a(href='') Separated link
